<html>
    <body>
        <title>Upload New Image</title>
            <h1>Image Upload</h1>
            <form method=post enctype=multipart/form-data>
            <form action = "run_observation" method = "POST" 
             enctype = "multipart/form-data">
                 <input type=file name=file>
                <input type=submit value=Upload>
            </form>    
            <table>
                <tr><td>Select Visualization<td><select name="method">
                    <option value="Cotton">Cotton</option>
                    <option value="Leaves">Leaves</option>
                    <option value="Entire plot">Plot</option>
                </select></tr>
            </table>
      </form>   
   </body>
</html>