<html>
   <body>
      <form action = "run_observation" method = "POST" 
         enctype = "multipart/form-data">
		 <table>
         <tr><td>Sepal Length<td><input type="text" name="sepal_length"/></tr>
		 <tr><td>Sepal Width<td> <input type="text" name="sepal_width"/></tr>
		 <tr><td>Petal Length<td> <input type="text" name="petal_length"/></tr>
		 <tr><td>Petal Width<td> <input type="text" name="petal_width"/></tr>
		 <tr><td>Variety<td><select name="variety">
			<option value="Setosa">Setosa</option>
			<option value="Virginica">Virginica</option>
			<option value="Versicolor">Versicolor</option>
		</select></tr>
		</table>
         <input name="add" value="Add Observation" type = "submit"/>
		 <input name="test" value="Test Observation" type = "submit"/>
      </form>   
   </body>
</html>