<html>
    <body>
        <title>Cotton Yield Estimation: main</title>
            <h1>Cotton Yield Estimation</h1>    
            <hr><table>
                <form action = "data_input_method" method="POST">
                    Select data input method
                        <select name="method">
                            <option selected>Select an option</option>
                            <option value="Manual">Manual input (default)</option>
                            <option value="Analysis">Image analysis</option>     
                        </select>
                    <button class="button execute" name="submit" value="submit">Submit</button>
                </form>
            </table>
   </body>
</html>