<html>
    <body>
        <title>New Data Input</title>
        <h1>Cotton Yield Estimation</h1><hr> 
        <h2>Manual data input:</h2>
        <form action = "data_input" method="POST">
            <label for="plot_name">Plot ID:</label>
            <br><input name="plot_name" type="text" id="plot_name" value={{data1}}>
            <br><br><label for="new_data">Cotton bolls number:</label><br>
            <input name="new_data" type="text" id="new_data" value={{data2}}>
            <br><br><button class="button execute" name="submit" value="submit">Submit Data</button>
        </form>
        <table>
            <form action = "data_input_method" method="POST">
            <br>Change input method
                <select name="method">
                    <option value="Analysis">Image analysis</option>     
                </select>
                <button class="button execute" name="submit" value="submit">Submit</button>
            </form>
        </table>
   </body>
</html>